.lights-out {
  background: #000000;
  margin: auto;
  text-align: left;
  overflow-x: clip;
  padding: 5rem 0;
}

.lights-out.lights-out--full-width {
  max-width: initial;
  width: 100%;
}

.window-cover {
  height: 50vh;
  position: relative;
  width: 99%;
}

.window-cover::after {
  content: '';
  display: block;
  background-color: #000000;
  border-radius: 11% 89% 18% 82% / 43% 29% 71% 57% ;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.window-light {
  background-color: dodgerblue;
  border-radius: 11% 89% 18% 82% / 43% 29% 71% 57% ;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  filter: blur(1vw);
  mix-blend-mode: screen;
}

.lights-out__blocks h2 {
  color: #ffffff;
}

.lights-out__blocks {
  position: absolute;
  color: #ffffff;
  margin: 0;
  top: 2.5rem;
  left: 1.5rem;
  width: 100%;
  z-index: 5;
}

.lights-out__blocks * {
  overflow-wrap: break-word;
}

.lights-out--full-width .lights-out__blocks {
  /* 4rem (1.5rem + 2.5rem) margin on left & right */
  width: calc(100% - 8rem / var(--font-body-scale));
}

.lights-out:not(.lights-out--full-width),
.lights-out--full-width.color-background-1 {
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.lights-out:not(.color-background-1) {
  padding-top: 5rem;
  padding-bottom: 5rem;
}

@media screen and (min-width: 750px) {
  .lights-out:not(.lights-out--full-width),
  .lights-out--full-width.color-background-1 {
    margin-top: calc(5rem + var(--page-width-margin));
    margin-bottom: calc(5rem + var(--page-width-margin));
  }

  .lights-out:not(.color-background-1) {
    padding-top: calc(5rem + var(--page-width-margin));
    padding-bottom: calc(5rem + var(--page-width-margin));
  }

  .lights-out__blocks {
    top: 15rem;
    left: 5rem;
    max-width: 33%;
  }

  .lights-out--full-width .lights-out__blocks {
    /* 7.5rem (5rem + 2.5rem) margin on left & right */
    width: 33%;
  }

  .window-cover {
    height: 92vh;
  }
}

@media screen and (min-width: 990px) {
  .lights-out__blocks {
    max-width: 78rem;
  }
}

/* Blocks */

.lights-out__blocks > * {
  margin-top: 0;
  margin-bottom: 0;
}

.lights-out__blocks > * + * {
  margin-top: 2rem;
}

.lights-out__blocks > * + a {
  margin-top: 3rem;
}
