section.cover-anatomy-wrapper {
  width: 100%;
  height: 100%;
}

.cover-anatomy-title {
  text-align: center;
}

.cover-anatomy-container {
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 1/1;
}

.cover-anatomy-image {
  position: absolute;
  width: 68%;
  height: 68%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

p.bold {
  margin: 0 0 12px;
  font-weight: 900;
}

p.small {
  margin: 0;
  font-size: 1.2rem;
  line-height: .8em;
}

.cover-anatomy-tooltip {
  position: absolute;
  max-width: 25%;
}

.cover-anatomy-tooltip:nth-child(2) {
  top: 5%;
  left:30%;
}

.cover-anatomy-tooltip:nth-child(3) {
  top: 18%;
  left: 75%;
}

.cover-anatomy-tooltip:nth-child(4) {
  top: 40%;
  left: 80%;
}

.cover-anatomy-tooltip:nth-child(5) {
  top: 70%;
  left: 77.25%;
}

.cover-anatomy-tooltip:nth-child(6) {
  top: 92.75%;
  left: 50%;
}

.cover-anatomy-tooltip:nth-child(7) {
  top: 80%;
  left: 15%;
}

.cover-anatomy-tooltip:nth-child(8) {
  top: 50%;
  left: 7.25%;
}
