section.cover-anatomy-wrapper {
  width: 100%;
  height: 100%;
}

.cover-anatomy-title {
  text-align: center;
  margin-bottom: 0;
}

.cover-anatomy-container {
  width: 100%;
  height: 100%;
  position: relative;
  aspect-ratio: 1/1;
}

.cover-anatomy-image {
  position: absolute;
  width: 68%;
  height: 68%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

section.cover-anatomy-wrapper .cover-anatomy-container .cover-anatomy-tooltip p.bold {
  margin: 0 0 6px;
  font-weight: 900;
}

section.cover-anatomy-wrapper .cover-anatomy-container .cover-anatomy-tooltip p.small {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1em;
}

.cover-anatomy-tooltip {
  position: absolute;
  max-width: 20%;
}

.cover-anatomy-tooltip:nth-child(2) {
  top: 15%;
  left: 24%;
}

.cover-anatomy-tooltip:nth-child(3) {
  top: 23%;
  left: 75%;
}

.cover-anatomy-tooltip:nth-child(4) {
  top: 45%;
  left: 80%;
}

.cover-anatomy-tooltip:nth-child(5) {
  top: 70%;
  left: 77.25%;
}

.cover-anatomy-tooltip:nth-child(6) {
  top: 80%;
  left: 50%;
}

.cover-anatomy-tooltip:nth-child(7) {
  top: 75%;
  left: 15%;
}

.cover-anatomy-tooltip:nth-child(8) {
  top: 50%;
  left: 2.5%;
}
