.inset-image-wrapper {
  width: 100%;
  padding: 4em 8em;
}

.inset-image-container {
  position: relative;
  width: 100%;
  height: auto;
  overflow: hidden;
}

.inset-image-container.no-image {
  background-color: #d8d8d8;
}

.inset-image {
  display: flex;
  position: relative;
  width: 100%;
  aspect-ratio: 2/1;
}

.inset-image-wrapper .inset-image-contaier .inset-image picture, .inset-image-wrapper .inset-image-contaier .inset-image picture .inset-banner-image {
  width: 100%;
  object-fit: fill;
}

.inset-image-wrapper .inset-image-container .inset-image-content {
  position: absolute;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  opacity: .7;
  border-radius: 5px;
  padding: 3rem;
}

.inset-image-wrapper .inset-image-container .inset-image-content .section-heading {
  text-align: center;
}
